* {
    margin: 0;
    padding: 0;
}

.nav-text {
    height: 40px;
    width: 40%;
    background-color: white;
    border-radius: 40px;
}

.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.content {
    width: 500px;
}

.section-img img {
    width: 100%;
}

.section-img {
    width: 500px;
}

.forth-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.forth-content {
    width: 500px;
}

.forth-img img {
    width: 100%;
}

.forth-img {
    width: 300px;
}


.fifth-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;


}

.content {
    width: 500px;
}

.section-img img {
    width: 100%;
}

.section-img {
    width: 500px;
}


.input-group {
    width: 70%;
}